# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist
build
server/public

# Development
.DS_Store
*.pem
.env
.env.*
!.env.example

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
*.timestamp-*.mjs
vite.config.ts.*
*.tar.gz

# Cache
.cache
.temp